
html, body {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-family: Arial, sans-serif;
}

h1 {
	font-size: 1.5em;
	padding: 0.5em;
}

h2 {
  font-size: 1.2em;
  padding: 0 0.5em 0.5em 0;
  margin: 0;
}

.jqui-dnd-target {
	border: 2px solid #666;
	float: left;
	width: 300px;
	height: 12em;
	margin-left: 1em;
	padding: 1em;
  -webkit-box-shadow: 5px 5px 3px 2px #ccc;
  -moz-box-shadow: 5px 5px 3px 2px #ccc;
  box-shadow: 5px 5px 3px 2px #ccc;
}

.jqui-dnd-item {
  border: 1px solid #ccc;
  padding: 0.5em;
  margin: 0.5em 0;
  background-color: #eee;
}

.jqui-dnd-target-active {
  border: 2px solid green;
}

.jqui-dnd-target-over {
  border: 2px solid lightgreen;
}

.jqui-dnd-item-over {
  background-color: lightgreen;
}

.jqui-dnd-item-dragging {
  border-color: green;
  -webkit-box-shadow: 0 0 5px 3px #666;
  -moz-box-shadow: 0 0 5px 3px #666;
  box-shadow: 0 0 5px 3px #666;
}

